.cmp-table {
  position: relative;
  box-sizing: border-box;

  div.loading-overlay {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    align-items: center;
    justify-content: center;
    display: flex;

    span.loader {
      width: 32px;
      height: 32px;
      border: 6px dotted #d5d5d2;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

div.cmp-table__filter {
  justify-content: end;
  display: flex;

  .input-filter {
    font-size: 1rem;
    color: #334155;
    background: #ffffff;
    padding: 0.5rem 0.75rem;
    border: 1px solid #cbd5e1;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s,
      outline-color 0.2s;
    appearance: none;
    border-radius: 5px;
    padding-left: 2rem;
  }
  .icon-filter {
    display: inline-block;
    position: relative;
    width: 5px;
    height: 8px;
    background: #888;
    margin-top: 1rem;
    margin-right: -1rem;

    &:before {
      position: absolute;
      top: -5px;
      left: -5px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: #888 transparent transparent transparent;
    }

    &:after {
      position: absolute;
      top: -2px;
      left: 0px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 5px 5px 0;
      border-color: transparent #888 transparent transparent;
    }
  }
}

div.cmp-table__main {
  border: none;
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--cmp-table-scrollbar-track-color);
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: var(--cmp-table-scrollbar-color);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--cmp-table-scrollbar-thumb-color);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--cmp-table-scrollbar-corner-color);
  }

  .virtualscroller {
    position: relative;
    overflow: auto;
    contain: content;
    will-change: scroll-position;
    outline: 0 none;

    &.vertical {
      thead {
        position: sticky;

        th {
          position: sticky;
          top: 0px;
          background-color: var(--cmp-table-background-color);
          z-index: 1;
        }
      }
      tbody {
        position: static;
      }
    }

    &.horizontal {
      thead {
        tr {
          th {
            &:first-child {
              position: sticky;
              left: 0px;
              background-color: var(--cmp-table-background-color);
              z-index: 1;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:first-child {
              position: sticky;
              left: 0px;
              background-color: var(--cmp-table-background-color);
              z-index: 1;
            }
          }
        }
      }
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: var(--cmp-table-scrollbar-track-color);
    }

    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      background-color: var(--cmp-table-scrollbar-color);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--cmp-table-scrollbar-thumb-color);
    }

    &::-webkit-scrollbar-corner {
      background-color: var(--cmp-table-scrollbar-corner-color);
    }
  }

  table {
    border-spacing: 0px;
    width: 100%;

    > caption {
      text-align: left;
    }

    > thead {
      tr {
        border: none;
        height: var(--cmp-table-header-height);
      }
      th {
        position: relative;
        color: var(--cmp-table-header-font-color);

        text-align: left;
        padding: 0.75rem 1rem;
        border: 1px solid var(--cmp-table-border-color);
        border-width: 0 0 1px 0;
        font-weight: 600;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s,
          outline-color 0.2s;

        &.header-quickFilter {
          font-size: 1rem;

          input.text-filter {
            color: #334155;
            padding: 0.2rem 0.2rem;
            border: 1px solid var(--cmp-table-border-color);
            appearance: none;
            border-radius: 3px;
            width: 100%;
          }

          .filter-container {
            display: flex;
            gap: 4px;
          }
          
          .operator-select {
            border: none;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            cursor: pointer;
            text-align: center;
            font-size: 12px;
            line-height: 1;
          }
          
          .operator-select:hover {
            outline: none;
            border: 1px solid var(--cmp-table-border-color);
          }
          
          .text-filter {
            flex: 1;
          }
        }

        .header {
          display: flex;
          align-items: center;
          &.direction-left {
            justify-content: flex-start;
          }
          &.direction-center {
            justify-content: center;
          }
          &.direction-right {
            justify-content: flex-end;
          }
        }

        &.sortable {
          cursor: pointer;
          .sortType-icon {
            border: 5px solid transparent;
            margin-top: -3px;
            margin-left: 4px;
            display: inline-block;
            height: 0;
            width: 0;
            position: relative;
            border-bottom-color: var(--cmp-table-header-font-color);
          }

          &.none {
            &:hover {
              .sortType-icon {
                opacity: 1;
              }
            }
            .sortType-icon {
              opacity: 0;
              transition: 0.5s ease;
            }
          }
          &.desc {
            .sortType-icon {
              margin-top: 5px;
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    > tbody {
      &.row-striped {
        > tr {
          &.even-row {
            background-color: var(--cmp-table-row-even-color);
          }
        }
      }

      > tr {
        &.expandable-row {
          font-weight: bold;
          cursor: pointer;
        }

        > td {
          text-align: left;
          border: 1px solid var(--cmp-table-border-color);
          border-width: 0 0 1px 0;
          padding: 0.5rem 1rem;

          i {
            &.expand-icon {
              border: solid;
              border-width: 0 2px 2px 0;
              display: inline-block;
              padding: 3px;
              transform: rotate(-45deg);
              transition: 0.2s;
              margin: 0px 5px 0px 5px;

              &.expanding {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }
}

nav.cmp-table__paginator {
  padding: 0px;
  margin: 0px;

  > ul {
    &.pagination {
      display: flex;
      padding-left: 0;
      list-style: none;

      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      border-width: 0;
      padding: 0.5rem 1rem;
    }
    > li {
      &.page-item {
        > button {
          &.page-link {
            border: 0 none;
            min-width: 2.5rem;
            height: 2.5rem;
            margin: 0.143rem;
            transition: background-color 0.2s, color 0.2s, border-color 0.2s,
              box-shadow 0.2s, outline-color 0.2s;
            border-radius: 50%;

            &.active {
              border-color: #ecfdf5;
              color: #047857;
            }

            &:not(.active):hover {
              border-color: transparent;
              color: #475569;
            }

            &:not(:disabled) {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
